libdispatch*
!libdispatch-5.5
libdispatch-5.5/*
!libdispatch-5.5/debian/
libdispatch-5.5/debian/libdispatch0
libdispatch-5.5/debian/libdispatch-dev

libobjc2*
!libobjc2-2.1.20220927
libobjc2-2.1.20220927/*
!libobjc2-2.1.20220927/debian/
!libobjc2-2.1.20220927/debian/libobjc2*
libobjc2-2.1.20220927/debian/libobjc2/
libobjc2-2.1.20220927/debian/libobjc2-dev/

gnustep-make*
!gnustep-make-2.9.0
gnustep-make-2.9.0/*
!gnustep-make-2.9.0/debian/
!gnustep-make-2.9.0/debian/gnustep-make*
gnustep-make-2.9.0/debian/gnustep-make/

.debhelper/
tmp/
*.log
debhelper-build-stamp
*.substvars
files