libdispatch*
!libdispatch-5.5
libdispatch-5.5/*
!libdispatch-5.5/debian/
libdispatch-5.5/debian/libdispatch0
libdispatch-5.5/debian/libdispatch-dev

libobjc2*
!libobjc2-2.1.20220927
libobjc2-2.1.20220927/*
!libobjc2-2.1.20220927/debian/
!libobjc2-2.1.20220927/debian/libobjc2*
libobjc2-2.1.20220927/debian/libobjc2/
libobjc2-2.1.20220927/debian/libobjc2-dev/

gnustep-make*
!gnustep-make-2.9.0
gnustep-make-2.9.0/*
!gnustep-make-2.9.0/debian/
!gnustep-make-2.9.0/debian/gnustep-make*
gnustep-make-2.9.0/debian/gnustep-make/

gnustep-base-1.28.20221211*
!gnustep-base-1.28.20221211
gnustep-base-1.28.20221211/*
!gnustep-base-1.28.20221211/debian/
!gnustep-base-1.28.20221211/debian/gnustep-make*
gnustep-base-1.28.20221211/debian/libgnustep-base-dev/
gnustep-base-1.28.20221211/debian/libgnustep-base1.28/

gnustep-gui-0.29.20221128*
!gnustep-gui-0.29.20221128
gnustep-gui-0.29.20221128/*
!gnustep-gui-0.29.20221128/debian/
!gnustep-gui-0.29.20221128/debian/gnustep-make*
gnustep-gui-0.29.20221128/debian/libgnustep-gui-dev/
gnustep-gui-0.29.20221128/debian/libgnustep-gui0.29/

.debhelper/
tmp/
*.log
debhelper-build-stamp
*.substvars
files
*.build
*.buildinfo
*.changes
*.tar.gz
*.dsc
*.deb
*.tar.xz
*.ddeb